<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebView_JavaScript_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A45FA471DD1B3ED00AABB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A45FA5B1DD1B3ED00AABB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A45FA661DD1B3ED00AABB6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
